<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title> Paimblanc Cédric</title>
</head>

<body>
    <div id="app">
        <header>
            <h1> {{title}} </h1>
        </header>
        <section>
            <h2> {{name}} {{firstname}} </h2>
            <section>
                <ul>
                    <li v-for="info in personalInfo">
                        {{info.text}}
                    </li>
                </ul>
            </section>
        </section>
        <section>
            <h2>Compétences</h2>
            <h3>Technique</h3>
            <ul>
                <li v-for="competence in competences.technical">
                    {{competence.text}}
                </li>
            </ul>
            <h3>Personnelles</h3>
            <ul>
                <li v-for="competence in competences.personal">
                    {{competence.text}}
                </li>
            </ul>
        </section>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="assets/main.js"></script>


</html>