#app {
    margin: 5%;
}

#competences {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:810px) {
    #competences {
        flex-direction: row;
    }
    header {
        display: flex;
    }
    header h1 {
        margin: auto;
    }
}